/*Maak hier jouw CSS!*/
.container {
    background-color: hsl(33, 100%, 98%);
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    align-content: start;
    height: 100vh;
}

.grid-member{
    background-color: hsl(349, 100%, 63%);
    color: hsl(33, 100%, 98%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#gm-a {
    grid-area: gma;
}
#gm-c {
    grid-area: gmc;
}
#gm-b  {
    grid-area: gmb;
}

#gm-e {
    grid-area: gme;

}

#gm-d {
    grid-area: gmd;
}

#gm-f {
    grid-area: gmf;
}

@media only screen and (min-width: 641px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 174px 100px auto 50px;
        grid-template-areas:
                "gma gmc gmc"
                "gmb gmc gmc"
                "gmb gme gmd"
                "gmb gme .."
                "gmf gmf gmf";
    }
}

/*https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/*/
@media only screen and (max-width: 640px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
        grid-template-areas:
    "gma"
    "gmb"
    "gmc"
    "gmd"
    "gme"
    ".."
    "gmf";
    }
}


